<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Matricula</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudantes of estudantes" >
        <th scope="row">{{estudantes.matricula}}</th>
        <td>{{estudantes.nome}}</td>
        <td>{{estudantes.email}}</td>
        <td>{{estudantes.telefone}}</td>
        <td>{{estudantes.endereco}}</td>
      </tr>
    </tbody>
  </table>
