<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupClient">
        <div class="mb-3">
        <label for="name" class="form-label"></label>
        <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Nome">
        <div class="mb-3">
          <label for="email" class="form-label"></label>
          <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email">
      </div>
    </div>
    <div class="mb-3 d-flex justify-content-end">
      <button class="btn btn-outline-success" (click)="save()">Salvar</button>
    </div>

    </form>
</div>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Matrícula</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudantes of estudantes" >
        <th scope="row">{{estudantes.matricula}}</th>
        <td>{{estudantes.nome}}</td>
        <td>{{estudantes.email}}</td>
        <td>{{estudantes.telefone}}</td>
        <td>{{estudantes.endereco}}</td>
        <td>
          <button class="btn btn-primary me-1" (click)="edit(estudantes)">Editar</button>
          <button class="btn btn-danger me-1" (click)="delete(estudantes)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
